
* {
  float: none;       /* Screens are not big enough to account for floats */
  font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */ 
  background: #fff;  /*  As much contrast as possible */
  color: #000;
}
	.ticketSideLeft,.ticketSideRight{display:block;width:auto}
	.border-right-Main-4{border-right:0px}
	.ticket-divider{border-right:0px;}
   
    .topMenuItem > a > span,.tab > a > span,.ticketProjectLocation,.ticketCreatedBy{
    	display:none;
    }
    .tab > a{
    	width:20px;
    }
    
    .mobile {
        display: inline-block
    }
    #replyToggle,
    #topperStart,
    #sideArea,
    .topperText {
        display: none
    }
    #mainArea {
        margin-left: 5px
    }
    #headerPadding {
        height: 50px
    }
    #sideArea {
        position: absolute;
        top: 3px;
        left: 2px;
        width: 0px;
    }
    .actionButtons {
        font-size: 16px
    }

/*Lets make tickets actually look good now */


#ticketLoginNewBox{
	position: absolute;
	top:250px;
	left:0px;
	margin-left:10px;
	margin-right:10px;
	width:96%;
}

.ticketBox{
	max-height:400px;
	width:98%;
	padding:5px 0 5px 5px;
	margin:3px;
	position:relative;
}
.ticketUserIconBox{
	height:32px;
	width:32px;
	background-image:url(http://www.gravatar.com/avatar/{hash}?s=32&d=identicon&r=g);
}
.ticketIdBox{
	height:15px;
	width:32px;
	margin-top:4px;
	text-align:center;
	font-size:11px;
	padding-top:2px;
}
.ticketTitleBox{
	padding-left:7px;
	top:4px;
	left:50px;
}
.ticketBodyBox{
	max-width:230px;
	height:30px;
	overflow:hidden;
	padding-left:7px;
	top:20px;
	left:50px;
}
.ticketCreatedOnBox{
	bottom:7px;
	text-align:right;
	font-size:8px;
	padding:1px;
	position:relative;
	border-left:none;
	border-right:none;
	border-bottom:none;
	float:right;
}
.ticketCreatedByBox{
	padding:1px;
	bottom:7px;
	float:right;
	text-align:left;
	font-size:8px;
	position:relative;
}
.ticketBookmarkBox{
	top:0;
	right:0;
	padding:1px;
	overflow:hidden;
	border-right:none;
	border-top:none;
}

