
/*
body{background-color:#0F0}
*/
.ticketSideLeft,.ticketSideRight{display:block;width:auto}
.border-right-Main-4{border-right:0px}
.ticket-divider{border-right:0px;}
   
.topMenuItem ,.tab > a{
    	/*display:none;*/
	width:16px;
	overflow:hidden;
}
.topMenuItem:hover{
	width:auto;
	text-align:left;
}
.tab > a{
	width:20px;
}

.mobile {
    display: inline-block
}
#replyToggle,
#topperStart,
#sideArea,
.topperText {
    display: none
}
#mainArea {
    margin-left: 5px
}
#headerPadding {
    height: 50px
}

#sideArea {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 0px;
}

.actionButtons {
    font-size: 16px
}

/*Lets make tickets actually look good now */


#ticketLoginNewBox{
	position: absolute;
	top:250px;
	left:0px;
	margin-left:10px;
	margin-right:10px;
	width:96%;
	display:block;
}
.ticketBox{
	max-height:400px;
	width:98%;
	padding:5px 0 0 5px;
	margin:3px;
	position:relative;
	display:block;
}
.ticketUserIconBox{
	height:32px;
	width:32px;
	background-image:url(http://www.gravatar.com/avatar/{hash}?s=32&d=identicon&r=g);
	display:block;
}

.ticketIdBox,.ticketPriorityBox{
	height:15px;
	width:32px;
	margin-top:4px;
	text-align:center;
	font-size:11px;
	padding-top:2px;
	display:block;
}
.ticketPriorityBox{
	position:relative;
	margin-left:0;
	padding:0px;
}
.ticketTitleBox{
	padding-left:7px;
	top:4px;
	left:50px;
	width:auto;
	display:block;
	position:absolute;
}
.ticketBodyBox{
	max-width:230px;
	width:auto;
	height:75px;
	overflow:hidden;
	padding-left:7px;
	top:20px;
	left:50px;
	display:block;
	position:absolute;
}

.ticketCreatedOnBox,.ticketCategoryBox,.ticketCreatedByBox,.ticketLocationBox{
	text-align:left;
	font-size:11px;
	padding:1px 3px;
	position:relative;
	border-right:none;
	border-bottom:none;
	float:right;
	display:inline-block;
	height:20px;
	width:100px;
	margin-right:0px;
}
.ticketBookmarkBox{
	top:0;
	right:6px;
	padding:1px;
	overflow:hidden;
	border-right:none;
	border-top:none;
	display:block;
	position:absolute;
}
.ticketItem{
	width:100%;
	display:block;
	height:auto;
	position:relative;
}