/**
 * Ticket Sprite Code 
 * 
 */
/* fugue icons */
.ticket_sprite {
    background: url(http://cdn1.lapcat.org/fugue/ticketSprite-Fugue.png?XX) no-repeat
}
.balloon {
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.bookmark-plus {
    background-position: 0 -17px;
    width: 16px;
    height: 16px;
}
.bookmark-off {
    background-position: 0 -34px;
    width: 16px;
    height: 16px;
}
.bookmark {
    background-position: 0 -51px;
    width: 16px;
    height: 16px;
}
.bug-arrow,
.bug_link {
    background-position: 0 -68px;
    width: 16px;
    height: 16px;
}
.bug-exclamation {
    background-position: 0 -85px;
    width: 16px;
    height: 16px;
}
.bug-minus {
    background-position: 0 -102px;
    width: 16px;
    height: 16px;
}
.bug-pencil {
    background-position: 0 -119px;
    width: 16px;
    height: 16px;
}
.bug-plus {
    background-position: 0 -136px;
    width: 16px;
    height: 16px;
}
.bug {
    background-position: 0 -153px;
    width: 16px;
    height: 16px;
}
.building {
    background-position: 0 -170px;
    width: 16px;
    height: 16px;
}
.chain-arrow {
    background-position: 0 -187px;
    width: 16px;
    height: 16px;
}
.chain {
    background-position: 0 -204px;
    width: 16px;
    height: 16px;
}
.chart-arrow {
    background-position: 0 -221px;
    width: 16px;
    height: 16px;
}
.chart-exclamation {
    background-position: 0 -238px;
    width: 16px;
    height: 16px;
}
.chart-minus {
    background-position: 0 -255px;
    width: 16px;
    height: 16px;
}
.chart-pencil {
    background-position: 0 -272px;
    width: 16px;
    height: 16px;
}
.chart-plus {
    background-position: 0 -289px;
    width: 16px;
    height: 16px;
}
.chart-down-color {
    background-position: 0 -306px;
    width: 16px;
    height: 16px;
}
.chart-down {
    background-position: 0 -323px;
    width: 16px;
    height: 16px;
}
.chart-pie-separate {
    background-position: 0 -340px;
    width: 16px;
    height: 16px;
}
.chart-pie {
    background-position: 0 -357px;
    width: 16px;
    height: 16px;
}
.chart-up-color {
    background-position: 0 -374px;
    width: 16px;
    height: 16px;
}
.chart-up {
    background-position: 0 -391px;
    width: 16px;
    height: 16px;
}
.chart {
    background-position: 0 -408px;
    width: 16px;
    height: 16px;
}
.cross {
    background-position: 0 -425px;
    width: 16px;
    height: 16px;
}
.door {
    background-position: 0 -442px;
    width: 16px;
    height: 16px;
}
.exclamation-red-frame {
    background-position: 0 -459px;
    width: 16px;
    height: 16px;
}
.exclamation {
    background-position: 0 -476px;
    width: 16px;
    height: 16px;
}
.eye {
    background-position: 0 -493px;
    width: 16px;
    height: 16px;
}
.feed {
    background-position: 0 -510px;
    width: 16px;
    height: 16px;
}
.fire {
    background-position: 0 -527px;
    width: 16px;
    height: 16px;
}
.gear {
    background-position: 0 -544px;
    width: 16px;
    height: 16px;
}
.globe-arrow,
.global_link {
    background-position: 0 -561px;
    width: 16px;
    height: 16px;
}
.globe {
    background-position: 0 -578px;
    width: 16px;
    height: 16px;
}
.home {
    background-position: 0 -595px;
    width: 16px;
    height: 16px;
}
.image {
    background-position: 0 -612px;
    width: 16px;
    height: 16px;
}
.inbox {
    background-position: 0 -629px;
    width: 16px;
    height: 16px;
}
.information {
    background-position: 0 -646px;
    width: 16px;
    height: 16px;
}
.lightning {
    background-position: 0 -663px;
    width: 16px;
    height: 16px;
}
.lock-unlock {
    background-position: 0 -680px;
    width: 16px;
    height: 16px;
}
.lock {
    background-position: 0 -697px;
    width: 16px;
    height: 16px;
}
.magnifier {
    background-position: 0 -714px;
    width: 16px;
    height: 16px;
}
.mail {
    background-position: 0 -731px;
    width: 16px;
    height: 16px;
}
.minus-circle-frame {
    background-position: 0 -748px;
    width: 16px;
    height: 16px;
}
.minus {
    background-position: 0 -765px;
    width: 16px;
    height: 16px;
}
.pencil {
    background-position: 0 -782px;
    width: 16px;
    height: 16px;
}
.picture {
    background-position: 0 -799px;
    width: 16px;
    height: 16px;
}
.plus-circle-frame {
    background-position: 0 -816px;
    width: 16px;
    height: 16px;
}
.plus {
    background-position: 0 -833px;
    width: 16px;
    height: 16px;
}
.question-octagon-frame {
    background-position: 0 -850px;
    width: 16px;
    height: 16px;
}
.question {
    background-position: 0 -867px;
    width: 16px;
    height: 16px;
}
.slash {
    background-position: 0 -884px;
    width: 16px;
    height: 16px;
}
.star {
    background-position: 0 -901px;
    width: 16px;
    height: 16px;
}
.status-away {
    background-position: 0 -918px;
    width: 16px;
    height: 16px;
}
.status-busy {
    background-position: 0 -935px;
    width: 16px;
    height: 16px;
}
.status-offline {
    background-position: 0 -952px;
    width: 16px;
    height: 16px;
}
.status {
    background-position: 0 -969px;
    width: 16px;
    height: 16px;
}
.table {
    background-position: 0 -986px;
    width: 16px;
    height: 16px;
}
.tag-minus {
    background-position: 0 -1003px;
    width: 16px;
    height: 16px;
}
.tag-pencil {
    background-position: 0 -1020px;
    width: 16px;
    height: 16px;
}
.tag-plus {
    background-position: 0 -1037px;
    width: 16px;
    height: 16px;
}
.tag-label-black {
    background-position: 0 -1054px;
    width: 16px;
    height: 16px;
}
.tag-label-gray {
    background-position: 0 -1071px;
    width: 16px;
    height: 16px;
}
.tag-label-green {
    background-position: 0 -1088px;
    width: 16px;
    height: 16px;
}
.tag-label-pink {
    background-position: 0 -1105px;
    width: 16px;
    height: 16px;
}
.tag-label-purple {
    background-position: 0 -1122px;
    width: 16px;
    height: 16px;
}
.tag-label-red {
    background-position: 0 -1139px;
    width: 16px;
    height: 16px;
}
.tag-label-yellow {
    background-position: 0 -1156px;
    width: 16px;
    height: 16px;
}
.tag-label {
    background-position: 0 -1173px;
    width: 16px;
    height: 16px;
}
.tag-medium {
    background-position: 0 -1190px;
    width: 16px;
    height: 16px;
}
.tags {
    background-position: 0 -1207px;
    width: 16px;
    height: 16px;
}
.task-arrow {
    background-position: 0 -1224px;
    width: 16px;
    height: 16px;
}
.task-exclamation {
    background-position: 0 -1241px;
    width: 16px;
    height: 16px;
}
.task-minus {
    background-position: 0 -1258px;
    width: 16px;
    height: 16px;
}
.task-pencil {
    background-position: 0 -1275px;
    width: 16px;
    height: 16px;
}
.task-plus {
    background-position: 0 -1292px;
    width: 16px;
    height: 16px;
}
.task-select-first {
    background-position: 0 -1309px;
    width: 16px;
    height: 16px;
}
.task-select-last {
    background-position: 0 -1326px;
    width: 16px;
    height: 16px;
}
.task-select {
    background-position: 0 -1343px;
    width: 16px;
    height: 16px;
}
.task {
    background-position: 0 -1360px;
    width: 16px;
    height: 16px;
}
.tick-circle-frame {
    background-position: 0 -1377px;
    width: 16px;
    height: 16px;
}
.tick-red {
    background-position: 0 -1394px;
    width: 16px;
    height: 16px;
}
.tick {
    background-position: 0 -1411px;
    width: 16px;
    height: 16px;
}
.ticket-arrow,
.ticket_link {
    background-position: 0 -1428px;
    width: 16px;
    height: 16px;
}
.ticket-exclamation {
    background-position: 0 -1445px;
    width: 16px;
    height: 16px;
}
.ticket-minus {
    background-position: 0 -1462px;
    width: 16px;
    height: 16px;
}
.ticket-pencil {
    background-position: 0 -1479px;
    width: 16px;
    height: 16px;
}
.ticket-plus {
    background-position: 0 -1496px;
    width: 16px;
    height: 16px;
}
.ticket {
    background-position: 0 -1513px;
    width: 16px;
    height: 16px;
}
.trophy {
    background-position: 0 -1530px;
    width: 16px;
    height: 16px;
}
.user-pencil {
    background-position: 0 -1547px;
    width: 16px;
    height: 16px;
}
.user {
    background-position: 0 -1564px;
    width: 16px;
    height: 16px;
}
.users {
    background-position: 0 -1581px;
    width: 16px;
    height: 16px;
}
.wall-arrow {
    background-position: 0 -1598px;
    width: 16px;
    height: 16px;
}
.wall-break {
    background-position: 0 -1615px;
    width: 16px;
    height: 16px;
}
.wall-brick {
    background-position: 0 -1632px;
    width: 16px;
    height: 16px;
}
.wall {
    background-position: 0 -1649px;
    width: 16px;
    height: 16px;
}