* { 
	margin: 0; 
	padding: 0;
}
a, font span {
	text-decoration:none;
	font-family:'Droid Sans', arial, sans-serif;
}
a:hover{ text-decoration:underline;}
body {
	font: 70%/1.5em 'Droid Sans',arial, sans-serif;
	text-align: center;
	height:100%;
}
.whiteBackground{background-color:#FFF;}
.right{float:right;}
.left{float:left;}
.white10{ font-size:10px; color:#FFF}
.small{font-size:10px;}
.matchwrap{
	margin: 0 auto;
	text-align: left;
}
.contentborder{
	border:rgb(69,69,69) 1px solid; 
}
#fullwrap{height:inherit}
#wrap {

	text-align: left;
	height:auto; 

}
.ticket a{ color:#0099CC}
.smallText{font-size: 9px;}
.smallimage{height:16px;width:16px;padding:0px;border:none;margin-left:5px;}
.ticketbody{margin: 0 auto;}
.header1{
	width:100%;
	height:22px;
	position:absolute;
	top:0;
	left:0;	
}
.header2{
	width:100%;
	height:22px;
	position:absolute;
	top:22px;
	left:0;
}
.smallticketL{

	width:120px;
	overflow:hidden;
	height:1.2em;
	}
.smallticketR{

	width:80px;
	overflow:hidden;
	height:1.2em;
	}
.spacer{
	padding-left:2px;
	padding-right:2px;
	
	}
.smallShow{ height:auto; display:block}
.smallHide{ height:10px; display:none}
.head{clear:both; overflow:hidden;padding:5px 10px;position:relative;}
.headlist{ text-align:left;}
p {
	padding: 0 0 1em;
}
/* message display page */
.message_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 210px;
}
.message_head {
	padding: 5px 10px;
	height:16px;
	position: relative;
}
.tr{display:table-row;}
.t{display:table;}
.td{display:table-cell;}
.message_body {
	padding: 5px 10px 15px;
	font-size:1em;
}

.fakelink,.hover{ cursor:pointer;}
/*div .fakelink span:hover{ cursor:pointer;color:#0099CC;}
div .fakelink:hover{ cursor:pointer;color:#0099CC;}*/
.textLeft{text-align:left;}
.textRight{text-align:right;}

.lapcatButton{
	padding: 2px; 
	float: left; 
	margin-right: 4px; 
	width: 70px;
}
/* New ticket image sprites*/
.ticket_button{
	padding: 0 0 1px 19px;height:16px;
}
.box_transition {
     -moz-transition: all 1s ease-out;  /* FF3.7+ */
       -o-transition: all 1s ease-in;  /* Opera 10.5 */
  -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
}
/**
 * Ticket Sprite Code 
 * 
 */
/* fugue icons */
.ticket_sprite{background: url(http://cdn1.lapcat.org/fugue/ticketSprite-Fugue.png) no-repeat; }
.balloon { background-position: 0 0; width: 16px; height: 16px; } 
.bookmark-plus { background-position: 0 -18px; width: 16px; height: 16px; } 
.bookmark { background-position: 0 -36px; width: 16px; height: 16px; } 
.bug-arrow { background-position: 0 -54px; width: 16px; height: 16px; } 
.bug-exclamation { background-position: 0 -72px; width: 16px; height: 16px; } 
.bug-minus { background-position: 0 -90px; width: 16px; height: 16px; } 
.bug-pencil { background-position: 0 -108px; width: 16px; height: 16px; } 
.bug-plus { background-position: 0 -126px; width: 16px; height: 16px; } 
.bug { background-position: 0 -144px; width: 16px; height: 16px; } 
.building { background-position: 0 -162px; width: 16px; height: 16px; } 
.chain-arrow { background-position: 0 -180px; width: 16px; height: 16px; } 
.chain { background-position: 0 -198px; width: 16px; height: 16px; } 
.chart-arrow { background-position: 0 -216px; width: 16px; height: 16px; } 
.chart-exclamation { background-position: 0 -234px; width: 16px; height: 16px; } 
.chart-minus { background-position: 0 -252px; width: 16px; height: 16px; } 
.chart-pencil { background-position: 0 -270px; width: 16px; height: 16px; } 
.chart-plus { background-position: 0 -288px; width: 16px; height: 16px; } 
.chart-down-color { background-position: 0 -306px; width: 16px; height: 16px; } 
.chart-down { background-position: 0 -324px; width: 16px; height: 16px; } 
.chart-pie-separate { background-position: 0 -342px; width: 16px; height: 16px; } 
.chart-pie { background-position: 0 -360px; width: 16px; height: 16px; } 
.chart-up-color { background-position: 0 -378px; width: 16px; height: 16px; } 
.chart-up { background-position: 0 -396px; width: 16px; height: 16px; } 
.chart { background-position: 0 -414px; width: 16px; height: 16px; } 
.cross { background-position: 0 -432px; width: 16px; height: 16px; } 
.door { background-position: 0 -450px; width: 16px; height: 16px; } 
.exclamation-red-frame { background-position: 0 -468px; width: 16px; height: 16px; } 
.exclamation { background-position: 0 -486px; width: 16px; height: 16px; } 
.eye { background-position: 0 -504px; width: 16px; height: 16px; } 
.feed { background-position: 0 -522px; width: 16px; height: 16px; } 
.fire { background-position: 0 -540px; width: 16px; height: 16px; } 
.gear { background-position: 0 -558px; width: 16px; height: 16px; } 
.globe-arrow,.global_link { background-position: 0 -576px; width: 16px; height: 16px; } 
.globe { background-position: 0 -594px; width: 16px; height: 16px; } 
.home { background-position: 0 -612px; width: 16px; height: 16px; } 
.image { background-position: 0 -630px; width: 16px; height: 16px; } 
.inbox { background-position: 0 -648px; width: 16px; height: 16px; } 
.information { background-position: 0 -666px; width: 16px; height: 16px; } 
.lightning { background-position: 0 -684px; width: 16px; height: 16px; } 
.lock-unlock { background-position: 0 -702px; width: 16px; height: 16px; } 
.lock { background-position: 0 -720px; width: 16px; height: 16px; } 
.magnifier { background-position: 0 -738px; width: 16px; height: 16px; } 
.mail { background-position: 0 -756px; width: 16px; height: 16px; } 
.minus-circle-frame { background-position: 0 -774px; width: 16px; height: 16px; } 
.minus { background-position: 0 -792px; width: 16px; height: 16px; } 
.pencil { background-position: 0 -810px; width: 16px; height: 16px; } 
.picture { background-position: 0 -828px; width: 16px; height: 16px; } 
.plus-circle-frame { background-position: 0 -846px; width: 16px; height: 16px; } 
.plus { background-position: 0 -864px; width: 16px; height: 16px; } 
.question-octagon-frame { background-position: 0 -882px; width: 16px; height: 16px; } 
.question { background-position: 0 -900px; width: 16px; height: 16px; } 
.slash { background-position: 0 -918px; width: 16px; height: 16px; } 
.star { background-position: 0 -936px; width: 16px; height: 16px; } 
.status-away { background-position: 0 -954px; width: 16px; height: 16px; } 
.status-busy { background-position: 0 -972px; width: 16px; height: 16px; } 
.status-offline { background-position: 0 -990px; width: 16px; height: 16px; } 
.status { background-position: 0 -1008px; width: 16px; height: 16px; } 
.table { background-position: 0 -1026px; width: 16px; height: 16px; } 
.tag-minus { background-position: 0 -1044px; width: 16px; height: 16px; } 
.tag-pencil { background-position: 0 -1062px; width: 16px; height: 16px; } 
.tag-plus { background-position: 0 -1080px; width: 16px; height: 16px; } 
.tag-label-black { background-position: 0 -1098px; width: 16px; height: 16px; } 
.tag-label-gray { background-position: 0 -1116px; width: 16px; height: 16px; } 
.tag-label-green { background-position: 0 -1134px; width: 16px; height: 16px; } 
.tag-label-pink { background-position: 0 -1152px; width: 16px; height: 16px; } 
.tag-label-purple { background-position: 0 -1170px; width: 16px; height: 16px; } 
.tag-label-red { background-position: 0 -1188px; width: 16px; height: 16px; } 
.tag-label-yellow { background-position: 0 -1206px; width: 16px; height: 16px; } 
.tag-label { background-position: 0 -1224px; width: 16px; height: 16px; } 
.tag-medium { background-position: 0 -1242px; width: 16px; height: 16px; } 
.tags { background-position: 0 -1260px; width: 16px; height: 16px; } 
.task-arrow { background-position: 0 -1278px; width: 16px; height: 16px; } 
.task-exclamation { background-position: 0 -1296px; width: 16px; height: 16px; } 
.task-minus { background-position: 0 -1314px; width: 16px; height: 16px; } 
.task-pencil { background-position: 0 -1332px; width: 16px; height: 16px; } 
.task-plus { background-position: 0 -1350px; width: 16px; height: 16px; } 
.task-select-first { background-position: 0 -1368px; width: 16px; height: 16px; } 
.task-select-last { background-position: 0 -1386px; width: 16px; height: 16px; } 
.task-select { background-position: 0 -1404px; width: 16px; height: 16px; } 
.task { background-position: 0 -1422px; width: 16px; height: 16px; } 
.tick-circle-frame { background-position: 0 -1440px; width: 16px; height: 16px; } 
.tick-red { background-position: 0 -1458px; width: 16px; height: 16px; } 
.tick { background-position: 0 -1476px; width: 16px; height: 16px; } 
.ticket-arrow,.ticket_link { background-position: 0 -1494px; width: 16px; height: 16px; } 
.ticket-exclamation { background-position: 0 -1512px; width: 16px; height: 16px; } 
.ticket-minus { background-position: 0 -1530px; width: 16px; height: 16px; } 
.ticket-pencil { background-position: 0 -1548px; width: 16px; height: 16px; } 
.ticket-plus { background-position: 0 -1566px; width: 16px; height: 16px; } 
.ticket { background-position: 0 -1584px; width: 16px; height: 16px; } 
.trophy { background-position: 0 -1602px; width: 16px; height: 16px; } 
.user-pencil { background-position: 0 -1620px; width: 16px; height: 16px; } 
.user { background-position: 0 -1638px; width: 16px; height: 16px; } 
.users { background-position: 0 -1656px; width: 16px; height: 16px; } 
.wall-arrow { background-position: 0 -1674px; width: 16px; height: 16px; } 
.wall-break { background-position: 0 -1692px; width: 16px; height: 16px; } 
.wall-brick { background-position: 0 -1710px; width: 16px; height: 16px; } 
.wall { background-position: 0 -1728px; width: 16px; height: 16px; } 


.small-shadow-black-1{
	box-shadow: 2px 2px 5px rgba(0,0,0,.60); 
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.60);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.60);
}
.fuzzyoutline{
	box-shadow: 0 0 6px rgba(255,0,0,1); 
	-webkit-box-shadow: 0 0 6px rgba(255,0,0,1);
	-moz-box-shadow: 0 0 6px rgba(255,0,0,1);
	-moz-transition: all 0.3s ;  /* FF3.7+ */
	-o-transition: all 0.3s ;  /* Opera 10.5 */
	-webkit-transition: all 0.3s;
}

.popImageSmall{
	height:100px;
	width:100px;
	position:static;
	display:block;
	float:left;
}
.popImageLarge{
	height:auto;
	width:auto;
	position:fixed;
	display:block;
	z-index:10000;
	box-shadow: 2px 2px 5px rgba(0,0,0,.60); 
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.60);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.60);
}

/*Filament Group CSS

.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }
*/
button.fg-button { width:auto; overflow:visible; }
/* .fg-button .ticket_sprite { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; } */
.fg-button { outline: 0; margin:0 4px 0 0; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ticket_sprite { right: auto; left: .2em; margin-left: 0;}
.fg-button-icon-right .ticket_sprite { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	
.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}
.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

#purr-container {
	position: fixed;
	top: 0;
	right: 0;
}
.notice {
	position: relative;
	width: 300px;
	margin-bottom:10px;
	top:12px;right:12px;
}
	.notice 
	.close	{position: absolute; top: 1px; right: 1px; display: block; width: 18px; height: 17px; }

.notice-body {
	text-align:left;
	min-height: 50px;
	padding: 12px 12px 0 12px;
}
.notice-body img{width: 32px; height:32px; margin: 0 10px 0 0; }
.notice-body h3	{margin: 0; font-size: 1.1em;}


.notice-bottom {
	height: 22px;
}

/* JQuery UI stuff that needed to be saved*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
.ui-helper-clearfix { display:block; }
ul,ol{padding-left:20px}
ul li,ol li {padding-left:5px;}

