.ticketSprite{	background: url(csg-4e8c85ab2fcfa.png) no-repeat top left;}
.bookmark{ background-position: 0 0; width: 10px; height: 26px; } 
.bug{ background-position: 0 -31px; width: 22px; height: 23px; } 
.calendar{ background-position: 0 -59px; width: 23px; height: 25px; } 
.chart{ background-position: 0 -89px; width: 29px; height: 24px; } 
.closed{ background-position: 0 -118px; width: 20px; height: 26px; } 
.gear{ background-position: 0 -149px; width: 26px; height: 26px; } 
.group{ background-position: 0 -180px; width: 32px; height: 21px; } 
.heart{ background-position: 0 -206px; width: 24px; height: 21px; } 
.infocard{ background-position: 0 -232px; width: 24px; height: 17px; } 
.pencil{ background-position: 0 -254px; width: 23px; height: 23px; } 
.star{ background-position: 0 -282px; width: 26px; height: 26px; } 
.ticket{ background-position: 0 -313px; width: 22px; height: 22px; } 
.user{ background-position: 0 -340px; width: 24px; height: 21px; } 
.warning{ background-position: 0 -366px; width: 24px; height: 19px; } 
