.ticketSprite{	background: url(csg-4e8c85ab2fcfa.png) no-repeat top left;}
.bookmark{ background-position: 0 0; width: 10px; height: 26px; } 
.bug{ background-position: 0 -28px; width: 22px; height: 23px; } 
.calendar{ background-position: 0 -53px; width: 23px; height: 25px; } 
.chart{ background-position: 0 -80px; width: 29px; height: 24px; } 
.closed{ background-position: 0 -106px; width: 20px; height: 26px; } 
.folder{ background-position: 0 -134px; width: 26px; height: 20px; } 
.gear{ background-position: 0 -156px; width: 26px; height: 26px; } 
.group{ background-position: 0 -184px; width: 32px; height: 21px; } 
.heart{ background-position: 0 -207px; width: 24px; height: 21px; } 
.infocard{ background-position: 0 -230px; width: 24px; height: 17px; } 
.lock{ background-position: 0 -249px; width: 20px; height: 24px; } 
.magnifier{ background-position: 0 -275px; width: 24px; height: 24px; } 
.pencil{ background-position: 0 -301px; width: 23px; height: 23px; } 
.star{ background-position: 0 -326px; width: 26px; height: 26px; } 
.ticket{ background-position: 0 -354px; width: 22px; height: 22px; } 
.user{ background-position: 0 -378px; width: 24px; height: 21px; } 
.warning{ background-position: 0 -401px; width: 24px; height: 19px; } 

