/* .bookmarkOff,.bookmarkOn{ background-position: 0 0; width: 16px; height: 16px; opacity:.3} */

.bookmarkOn{opacity:1;}

.ticket:before,.bug:before{
	content:", ";
	font-family:"WebSymbolsRegular";	
}
.google:before{
	content:"g ";
	color:maroon;
	font-family:"WebSymbolsRegular";
}

.magnifier:before{
	content:"L ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.warning:before{
	content:"W ";
	color:rgb(150,0,0);
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.globe:before{
	content:"K ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.pencil:before{
	content:"e ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.group:before{
	content:"F ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.gear:before{
	content:"S ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.user:before{
	content:"U ";
	
	font-family:"WebSymbolsRegular";
	text-shadow:0 0 1px rgba(0,0,0,.60);
	font-size:12px;
}
.closed:before{
	content:"Z ";
	
	font-family:"WebSymbolsRegular";
	font-size:12px;
}
.chart:before{
	content:"u ";
	color:black;
	font-family:"WebSymbolsRegular";
	font-size:12px
}
.bookmarkOn:before{
	content:"R ";
	color:rgb(255,255,0);
	font-family:"WebSymbolsRegular";
	text-shadow:0 0 1px rgba(180,0,0,.80);
	font-size:12px;
}
.bookmarkOff:before{
	content:"R ";
	
	font-family:"WebSymbolsRegular";
	text-shadow:0 0 1px rgba(0,0,0,.60);
	font-size:12px
}
.closedTicketDisplay:after{
	content:" .";
	font-family:"WebSymbolsRegular";
	text-shadow:0 0 1px rgba(0,0,0,.60);
	font-size:12px;
	color:#00769E;
}
.remove{cursor:pointer;}
.remove:before{
	cursor:pointer;
	content:"X";
	padding-right:3px;
	text-shadow:0 0 1px rgba(0,0,0,.60);
	font-size:12px;
	color:#000;
}
.remove:hover:before{
	color:#00769E;
}

/* <a href="" data-icon="C">Cool Link</a> */

[data-icon]:before {
	font-family: 'WebSymbolsRegular';
	content: attr(data-icon);
	padding-right:3px;
	text-shadow:0 0 1px rgba(0,0,0,.60);
	font-size:12px;
	color:#000;
}