.ticketSprite{	background: url(iconSprite.png) no-repeat top left;}
.bookmark{ background-position: 0 0; width: 16px; height: 16px; } 
.bug{ background-position: 0 -18px; width: 16px; height: 16px; } 
.calendar{ background-position: 0 -36px; width: 16px; height: 16px; } 
.chart{ background-position: 0 -54px; width: 16px; height: 16px; } 
.closed{ background-position: 0 -72px; width: 16px; height: 16px; } 
.folder{ background-position: 0 -90px; width: 16px; height: 16px; } 
.gear{ background-position: 0 -108px; width: 16px; height: 16px; } 
.group{ background-position: 0 -126px; width: 16px; height: 16px; } 
.heart{ background-position: 0 -144px; width: 16px; height: 16px; } 
.infocard{ background-position: 0 -162px; width: 16px; height: 16px; } 
.lock{ background-position: 0 -180px; width: 16px; height: 16px; } 
.mail{ background-position: 0 -198px; width: 16px; height: 16px; } 
.pencil{ background-position: 0 -216px; width: 16px; height: 16px; } 
.star{ background-position: 0 -234px; width: 16px; height: 16px; } 
.ticket{ background-position: 0 -252px; width: 16px; height: 16px; } 
.user{ background-position: 0 -270px; width: 16px; height: 16px; } 
.warning{ background-position: 0 -288px; width: 16px; height: 16px; } 

