@import url("roundCorners.css");

.animate
{
  moz-transition: 0.3s ease-in-out;
  o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  webkit-transition: 0.3s ease-in-out;
}

.border-all-B-1,.border-all-Main-1
{
  border: 1px solid hsl(212,43%,53%);
}
.border-all-B-2,.border-all-Main-2
{
  border: 2px solid hsl(212,43%,53%);
}
.border-bottom-B-1,.border-bottom-Main-1
{
  border-bottom: 1px solid hsl(212,43%,53%);
}
.border-left-B-1,.border-left-Main-1
{
  border-left: 1px solid hsl(212,43%,53%);
}
.border-right-B-1,.border-right-Main-1
{
  border-right: 1px solid hsl(212,43%,53%);
}
.border-right-Main-4
{
  border-right: 4px solid hsl(212,43%,53%);
}
.border-sides-B-1,.border-sides-Main-1
{
  border-left: 1px solid hsl(212,43%,53%);
  border-right: 1px solid hsl(212,43%,53%);
}
.border-top-B-1,.border-top-Main-1
{
  border-top: 1px solid hsl(212,43%,53%);
}
.color-B-1,.colorMain-1
{
  background-color: hsl(212,43%,53%);
}
.color-B-2,.colorMain-2
{
  background-color: hsl(212,43%,53%);
  background-color: hsla(212,43%,53%,0.8);
}
.color-B-3,.colorMain-3
{
  background-color: hsl(212,43%,53%);
  background-color: hsla(212,43%,53%,0.6);
}
.color-B-4,.colorMain-4
{
  background-color: hsl(212,43%,53%);
  background-color: hsla(212,43%,53%,0.3);
}

.LAPCAT-image
{
  background-image: url(/lapcat/images/100-18-1.png);
  background-repeat: no-repeat;
}
.colorWhite-1
{
  background-color: hsl(0,0%,100%);
}
.colorWhite-2
{
  background-color: hsla(0,0%,100%,0.8);
}
.colorWhite-3
{
  background-color: hsla(0,0%,100%,0.6);
}
.colorWhite-4
{
  background-color: hsla(0,0%,100%,0.3);
}
.colorBlack-1
{
  background-color: hsl(0,0%,2%);
}
.colorBlack80
{
  background-color: hsla(0,0%,2%,0.8);
}
.colorBlack60
{
  background-color: hsla(0,0%,2%,0.6);
}
.colorBlack30
{
  background-color: hsla(0,0%,2%,0.3);
}
.borderBottomBlack{
  border-bottom:1px solid hsla(0,0%,0%,0.3);
}
.fontMain,a,a:active, a:visited
{
  color: hsl(0,0%,2%);
}
.fontMain2
{
  color: hsl(0,0%,27%);
}
.fontReverse, a.fontReverse
{
  color: hsl(0,0%,100%);
}

.noticeBackgroundDefault{
  background:hsl(0,0,30%);
}

body,html {
    font-family: 'Ubuntu', sans-serif;
}

.WhitetoLightBlue{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(211,217,240)),
	    color-stop(0.68, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(211,217,240) 35%,
	    rgb(255,255,255) 68%
	);
}
.WhitetoLightOff{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(241,241,241)),
	    color-stop(0.96, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(241,241,241) 0%,
	    rgb(255,255,255) 96%
	);
}
.selectedTab,.tab{
	height:25px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	bottom:-1px;
	
}
.selectedTab{
	background:rgb(255,255,255);
	border: 1px solid hsl(212,43%,53%);
	border-bottom:none;
	
}
.topMenuItem{
	margin-right:4px;
}
